<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
</head>
<body>
    <form class="d-flex" method="POST" action="{% url 'post:search' %}">
        {% csrf_token %}        
        <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> Search </button>
    </form>
    <hr>
    <h1>목록</h1>
    <ul>
        {% for post in posts %}
        <li><a href="{% url 'post:show' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;작성자: {{post.writer}}</p></li>
        {% endfor %}
    </ul>
    <a href="{% url 'post:write' %}">글 작성</a>
</body>
</html>
