<html>
<head>
    <title>Update Post</title>
</head>
<body>
    <h1>글 수정</h1>
    <form action="{% url 'post:updateget' post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ postForm.as_p }}
        <input multiple type="file" name="새이미지" accept="image/*" id="id_image">
        <button type="submit">저장</button>
        {% comment %} <input multiple type="file" name="image" aceept="image/*" id="id_image"> {% endcomment %}
    </form>
    <h2>기존 이미지</h2>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for image in images %}
                <li>
                    <img src="{{ image.image.url }}" alt="Image" style="max-width: 200px;">
                    {% comment %} {{form.remove_image.label_tag}}{{form.remove_image}} {% endcomment %}
                    <button type="submit" name="image_id" value="{{ image.id }}">삭제</button>
                </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>